<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>employee_id</key>
		<integer>1</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Michail</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>2</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Pedro</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>3</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Andrea</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>4</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Abhijith</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>5</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Ziyun</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>6</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Shreya</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>7</integer>
		<key>deparment</key>
		<string>Marketing</string>
		<key>name</key>
		<string>Eibhlin</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>8</integer>
		<key>deparment</key>
		<string>Marketing</string>
		<key>name</key>
		<string>Laura</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>9</integer>
		<key>deparment</key>
		<string>Marketing</string>
		<key>name</key>
		<string>Niall</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>10</integer>
		<key>deparment</key>
		<string>Marketing</string>
		<key>name</key>
		<string>Craig</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>7</integer>
		<key>deparment</key>
		<string>Marketing</string>
		<key>name</key>
		<string>Sean</string>
	</dict>
	<dict>
		<key>employee_id</key>
		<integer>12</integer>
		<key>deparment</key>
		<string>Technical</string>
		<key>name</key>
		<string>Songtao</string>
	</dict>
</array>
</plist>
